<% include filter.ejs %>
<% if(events){ %>
    <% events.forEach((e)=>{ %>
        <div class="iframe-wrapper"
        data-timestamp="<%=e.timestamp%>"
        data-platform="events"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=img%>" alt="">
                    <div class="post-info">
                        <p><%=artist%></p>
                        <p class="date"><%=e.date%></p>
                    </div>
                </div>
                <img class="ticketmaster" src="/img/ticketmaster.png" alt="">
            </header>
        </div>
    <% }) %>
<% } %>
<% if(instagram){ %>
    <% instagram.forEach((i)=>{ %>
        <div class="iframe-wrapper"
            data-timestamp="<%=i.timestamp%>"
            data-platform="instagram"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=img%>" alt="">
                    <div class="post-info">
                        <p><%=artist%></p>
                        <p class="date"><%=i.date%></p>
                    </div>
                </div>
                <img src="/img/instagram.png" alt="">
            </header>
            <%-i.html%>
        </div>
    <% }) %>
<% } %>
<% if (youtube){ %>
    <% youtube.forEach((yt)=>{ %>
        <div class="iframe-wrapper"
            data-timestamp="<%=yt.timestamp%>"
            data-platform="youtube" 
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=img%>" alt="">
                    <div class="post-info">
                        <p><%=artist%></p>
                        <p class="date"><%=yt.date%></p>
                    </div>
                </div>
                <img src="/img/youtube.png" alt="">
            </header>
            <iframe
                src="https://www.youtube.com/embed/<%=yt.video_id%>">
            </iframe>
        </div>
    <% }) %>
<% } %>

<% if (twitter){ %>
    <% twitter.forEach((tw)=>{ %>
        <div class="iframe-wrapper"
            data-timestamp="<%=tw.timestamp%>"
            data-platform="twitter"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=img%>" alt="">
                    <div class="post-info">
                        <p><%=artist%></p>
                        <p class="date"><%=tw.date%></p>
                    </div>
                </div>
                Twitter
            </header>
            <%-tw.html%>
        </div>
    <% }) %>
<% } %>