<% artists.forEach(artist=>{%>
    <% if(artist.mediaType==='instagram'){ %>
        <div class="iframe-wrapper"
            data-date="<%= new Date(artist.timestamp) %>"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/instagram.png" alt="">
            </header>
            <%-artist.html%>
        </div>
    <% } %>
    <% if (artist.mediaType==='youtube'){ %>
        <div class="iframe-wrapper"
            data-date="<%= new Date(artist.timestamp) %>" 
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/youtube.png" alt="">
            </header>
            <iframe
                src="https://www.youtube.com/embed/<%=artist.video_id%>">
            </iframe>
        </div>
    <% } %>
    
    <% if (artist.mediaType==='tweet'){ %>
        <div class="iframe-wrapper"
            data-date="<%= new Date(artist.timestamp) %>"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/twitter.png" alt="">
            </header>
            <%-artist.html%>
        </div>
    <% } %>
<%}) %>
<i class="fas fa-chevron-up"></i>