<% artists.forEach(artist=>{%>
    <% if(artist.mediaType==='event_name'){%>
        <div class="iframe-wrapper"
            data-timestamp="<%=artist.timestamp%>"
            data-platform="events"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img class="ticketmaster" src="/img/ticketmaster.png" alt="">
            </header>
            <div class="ticketmaster-info">
                <div class="img">
                    <img src="<%=artist.image%>" alt="">
                </div>
                <div class="event-info">
                    <p class="location"><%= artist.city %>-<%= artist.country %></p>
                    <p class="date"><%= artist.date %></p>
                </div>
                <a class="ticket" href="<%=artist.url%>">Buy Ticket</a>
            </div>
        </div>
    <% } %>    
    <% if(artist.mediaType==='instagram'){ %>
        <div class="iframe-wrapper"
            data-timestamp="<%= artist.timestamp %>"
            data-platform="instagram"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/instagram.png" alt="">
            </header>
            <%-artist.html%>
        </div>
    <% } %>
    <% if (artist.mediaType==='youtube'){ %>
        <div class="iframe-wrapper"
            data-timestamp="<%= artist.timestamp %>"
            data-platform="youtube" 
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/youtube.png" alt="">
            </header>
            <iframe
                src="https://www.youtube.com/embed/<%=artist.video_id%>">
            </iframe>
        </div>
    <% } %>
    
    <% if (artist.mediaType==='tweet'){ %>
        <div class="iframe-wrapper"
            data-timestamp="<%= artist.timestamp %>"
            data-platform="twitter"
        >
            <header class="iframe">
                <div class="artist">
                    <img src="<%=artist.img%>" alt="">
                    <div class="post-info">
                        <p><%=artist.artist%></p>
                        <p class="date"><%=artist.date%></p>
                    </div>
                </div>
                <img src="/img/twitter.png" alt="">
            </header>
            <%-artist.html%>
        </div>
    <% } %>
<%}) %>
<i class="fas fa-chevron-up"></i>